@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContactForm>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}


<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
        <h1>@Model.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-12 registration-form">
        @Html.Action("Index", "ContactFormSurface")
    </div>
</div>